image/
__pycache__
**/build/
**/*.egg-info/
**/dist/
*.so
exp
weights
data
log
outputs/
.vscode
.idea
*/.DS_Store
**/*.out
Dockerfile
env
download_data
data
env38
ckpt
.cache
wandb
experiments
waymo_env
pointcept_original_base
pointcept_original
experiments-official
ablation_experiments
debug
*.png
.claude